---
import Layout from "../../layouts/Layout.astro"
---
<Layout title="Admisión">
    <section class="min-h-screen flex flex-col items-center justify-center">
        <p class="text-blue-600">Proceso de admisión</p>
    </section>
</Layout>