---
import Layout from '../layouts/Layout.astro';
import MisionItem from '../components/MisionItem.astro';
---

<Layout title="Inicio">
	<main class="min-h-screen -mt-12 w-full flex flex-col items-center justify-center text-center text-pretty gap-4">
		<a class="bg-gray-50 hover:bg-gray-100 rounded-full shadow-md font-bold py-2 px-4 cursor-pointer inline-flex justify-between items-center active:scale-95 duration-150 gap-3" href="./admision">
			<span class="rounded-full bg-blue-600 hover:bg-blue-700 px-2 py-1 -ml-2 text-white">
				Nuevo
			</span>
			<span>
				Conoce el proceso de admisión al semestre Enero - Junio 2024 
			</span>
			<span>
				<svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"></path></svg>
			</span>
		</a>
		<h1 class="text-4xl font-bold text-blue-600">BACHILLERATO ASUNCIÓN IXTALTEPEC</h1>
		<h2 class="text-2xl">SEMESTRE ENERO - JUNIO 2024</h2>
		<section class="flex flex-row items-center justify-between gap-3 font-bold bg-gray-50 hover:bg-gray-100 px-4 py-2 rounded-xl shadow-md">
			<div class="flex gap-x-1">
				<svg class="w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
					<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
				</svg>
				<p>Consulta los documentos a descargar</p>
			</div>
			<button id="showModal" class="bg-blue-600 hover:bg-blue-700 active:scale-95 duration-150 text-white px-4 py-2 rounded-xl">Ver</button>
		</section>
		<dialog id="modal" class="rounded-xl p-6">
			<form method="dialog">
				<section class="text-left">
					<h3 class="text-lg font-bold mb-2">Descarga y lee los siguientes documentos</h3>
					<ul class="list-inside list-disc">
						<li><a href="#">Documento</a></li>
						<li><a href="#">Documento</a></li>
						<li><a href="#">Documento</a></li>
						<li><a href="#">Documento</a></li>
					</ul>
				</section>
				<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 rounded-lg px-5 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 active:scale-95 duration-150">Cerrar</button>
			</form>
		</dialog>
	</main>
	<section class="min-h-screen w-full px-4">
		<h2 class="text-4xl font-bold text-blue-600 text-center mb-6">¿Qué hacemos?</h2>
		<article class="flex flex-row gap-4 flex-wrap items-center justify-center mx-auto max-w-4xl px-4">
			<MisionItem
				title="Educamos guiados por el evangelio"
				description=""
			/>
			<MisionItem 
				title="Articulados en mística de la comunidad"
			/>
			<MisionItem
				title="Potenciando el protagonismo, en especial el juvenil"
			/>
			<MisionItem 
				title="Trabajando de forma sistémica, tejiendo redes de colaboración"
			/>
			<MisionItem
				title="Hacia una solidaridad transformadora en clave de inclusión"
			/>
			<MisionItem
				title="Con pruebas sostenibles"
			/>
			<MisionItem
				title="En permanente renovación"
			/>
		</article>
	</section>
</Layout>
<script type="text/javascript">
	const btnShowModal = document.getElementById("showModal");
	const modal = document.getElementById("modal");

	btnShowModal.addEventListener("click", () => {
		modal.showModal();
	})
</script>