<hr class="mb-2 border-gray-200">
<section class="flex flex-row items-center justify-evenly px-4 mb-2">
    <article>
        <p class="font-bold">Dirección: </p>
        <p>Avenida Morelos No. 69, C.P. 70140, Asunción Ixtaltepec, Oax.</p>
        <p class="font-bold">Contacto</p>
        <a href="mailto:bachillerato.a.ixtaltepec@gmail.com">bachillerato.a.ixtaltepec@gmail.com</a>
        <p>Tel: <a href="tel:9717124186">971 712 4186</a></p>
        <p>Tel: <a href="tel:9717124040">971 712 4040</a></p>
    </article>
    <article>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d956.3710717850523!2d-95.06563156484206!3d16.50163091022072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1708569067146!5m2!1ses-419!2smx" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </article>
</section>