---
const { title, description } = Astro.props;
---


<div class="w-56 h-40 rounded-xl shadow-lg p-4">
    <h3 class="font-bold text-center text-xl uppercase">{title}</h3>
    <p>{description}</p>
</div>