---
import NavLink from "./NavLink.astro"
import MenuIcon from "./MenuIcon.astro"
import CancelIcon from "./CancelIcon.astro";
---

<header id="header-nav">
    <nav class="hidden w-full lg:flex items-center justify-between px-2 py-3 lg:px-10 fixed top-0 z-50 backdrop-blur-sm">
        <div>
            <a class="font-bold text-2xl" href="#">Logo</a>
        </div>
        <div>
            <ul class="flex items-center justify-end [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:font-medium [&>li>a]:transition-colors [&>li>a]:duration-200" >
                <NavLink>
                    Inicio
                </NavLink>
                <NavLink>
                    Asigmaturas
                </NavLink>
                <NavLink>
                    Contacto
                </NavLink>
                <NavLink>
                    Acerca de
                </NavLink>
            </ul>
        </div>
    </nav>
    <nav class="w-full fixed top-0 z-50 backdrop-blur-sm">
        <div class="lg:hidden flex items-center justify-between w-full px-3 py-2">
            <a class="font-bold text-2xl" href="#">Logo</a>
            <button id="navbar_bottom_open" class="p-2 hover:bg-gray-900 rounded-full">
                <MenuIcon />
            </button>
        </div>
        <div id="mobile_navbar" class="lg:hidden fixed w-60 h-screen z-100 bg-black top-0 bottom-0 right-0 translate-x-60 transition-all duration-200">
            <div class="h-screen flex flex-col p-3">
                <button id="navbar_bottom_close" class="p-2 hover:bg-gray-950 rounded-full block ">
                    <CancelIcon />
                </button>
                <ul>
                    <NavLink>
                        Inicio
                    </NavLink>
                    <NavLink>
                        Asigmaturas
                    </NavLink>
                    <NavLink>
                        Contacto
                    </NavLink>
                    <NavLink>
                        Acerca de
                    </NavLink>
                </ul>
            </div>
        </div>
    </nav>
</header>
<script>
    const openBottom = document.getElementById("navbar_bottom_open");
    const closeBottom = document.getElementById("navbar_bottom_close")

    const mobileNavbar = document.getElementById("mobile_navbar");

    openBottom.addEventListener("click", () => {
        mobileNavbar.classList.remove("translate-x-60");

    })

    closeBottom.addEventListener("click", () => {
        mobileNavbar.classList.add("translate-x-60")
    })
</script>